.footer {
    grid-area: ft;
    align-items: center;
}

.social-media-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2% 45%;
}

a {
    color: #fff;
    font-size: 30px;
    margin: 5px;
}

a:hover {
    opacity: 80%;
}